$red: #F89779;
$gray-deep: #999;
$gray: #bfbfbf;
$gray-shallow: #F6F6F6;
$gray-shallow-more: #f2f2f2;
$white: #ffffff;
$icon-bg: #f9f3e8;
$main-color:#23D321;
// $main-color:#75E2B1;

// #75E2B1
//字体变量
$font-color-gray: $gray-deep;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-big: 16px;

$border-color: $gray-shallow;
$bg-color: $white;